<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style6.css">
    <title>Rock Paper Scissors</title>
</head>
<body>
    <div class="container">
        <h1>Rock Paper Scissors</h1>
        <div class="options">
            <div class="player">
                <h2>Player 1</h2>
                <div class="choice">
                    <img src="assets/batu.png" alt="Rock" data-choice="rock">
                    <img src="assets/kertas.png" alt="Paper" data-choice="paper">
                    <img src="assets/gunting.png" alt="Scissors" data-choice="scissors">
                </div>
            </div>
        <h1>VS</h1>
            <div class="computer">
                <h2>COM</h2>
                <div class="choice">
                    <img src="assets/batu.png" alt="Rock">
                    <img src="assets/kertas.png" alt="Paper">
                    <img src="assets/gunting.png" alt="Scissors">
                </div>
            </div>
        </div>
        <div class="result">
            <h2>Result:</h2>
            <p class="result-text">
                <div class="result">
                    <span class="result_images">
                         <img src="assets/refresh.png" alt="">
                    </span>
                </div>
            </p>

    <script src="script.js"></script>
</body>
</html>

