<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challange Chapter 3</title>
    <link rel="stylesheet" href="style.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous" 
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
            integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"
        ></script>

</head>
<body>
    <!-- Nav -->
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
              <a class="navbar-brand" href="#" >LOGO</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/Work">WORK</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/Contact">CONTACT</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/About/">ABOUT US</a>
                  </li>
                </ul>
                <span class="navbar-text">
                    <a class="nav-link" href="/SignUp/">SIGN-UP</a>
                </span>
                <span class="navbar-text">
                    <a class="nav-link" href="/Login/">LOGIN</a>
                </span>
              </div>
            </div>
          </nav>
    </div>

    <!-- Homepage -->
      <div class="position-absolute top-50 start-50 translate-middle">
        <div class="container-fluid games">
          <div class="container text-center">
            <h1>PLAY TRADITIONAL GAME</h1>
              <p class="sub">Experience new traditional game play</p>
               <a href="#">
                <button type="button" class="btn btn-warning" onclick="window.location.href='index1.ejs'">PLAY NOW</button>
          </a>
        </div>
      </div>
        </div>
        <div class="position-absolute top-100 start-50 translate-middle">
          <div class="container-fluid text-center">
            <div class="py-3">The Story</div>
          </div>
    </div>
  </div>

</body>
</html>