body{
    background-image: url('assets/requirements.png');
    background-size: cover;
    height: 1000px
}
.sub{
    color: white
}
h1{
    color: white
}
h2{
    color: white
}
p{
    color: white
}